MO.Commons/MO.Algorithm/obj/MO.Algorithm.csproj.nuget.dgspec.json
MO.Commons/MO.Algorithm/obj/MO.Algorithm.csproj.nuget.g.props
MO.Commons/MO.Algorithm/obj/MO.Algorithm.csproj.nuget.g.targets
MO.Commons/MO.Algorithm/obj/project.assets.json
MO.Commons/MO.Algorithm/obj/project.nuget.cache
MO.Commons/MO.Algorithm/obj/Debug/net35/MO.Algorithm.AssemblyInfo.cs
MO.Commons/MO.Algorithm/obj/Debug/net35/MO.Algorithm.AssemblyInfoInputs.cache
MO.Commons/MO.Algorithm/obj/Debug/net35/MO.Algorithm.assets.cache
MO.Commons/MO.Algorithm/obj/Debug/net35/MO.Algorithm.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Algorithm/obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
MO.Commons/MO.Algorithm/obj/Debug/net45/MO.Algorithm.AssemblyInfo.cs
MO.Commons/MO.Algorithm/obj/Debug/net45/MO.Algorithm.AssemblyInfoInputs.cache
MO.Commons/MO.Algorithm/obj/Debug/net45/MO.Algorithm.assets.cache
MO.Commons/MO.Algorithm/obj/Debug/net45/MO.Algorithm.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Algorithm/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Commons/MO.Algorithm/obj/Debug/netcoreapp3.1/MO.Algorithm.AssemblyInfo.cs
MO.Commons/MO.Algorithm/obj/Debug/netcoreapp3.1/MO.Algorithm.AssemblyInfoInputs.cache
MO.Commons/MO.Algorithm/obj/Debug/netcoreapp3.1/MO.Algorithm.assets.cache
MO.Commons/MO.Algorithm/obj/Debug/netcoreapp3.1/MO.Algorithm.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Common/obj/MO.Common.csproj.nuget.dgspec.json
MO.Commons/MO.Common/obj/MO.Common.csproj.nuget.g.props
MO.Commons/MO.Common/obj/MO.Common.csproj.nuget.g.targets
MO.Commons/MO.Common/obj/project.assets.json
MO.Commons/MO.Common/obj/project.nuget.cache
MO.Commons/MO.Common/obj/Debug/net35/MO.Common.AssemblyInfo.cs
MO.Commons/MO.Common/obj/Debug/net35/MO.Common.AssemblyInfoInputs.cache
MO.Commons/MO.Common/obj/Debug/net35/MO.Common.assets.cache
MO.Commons/MO.Common/obj/Debug/net35/MO.Common.csproj.AssemblyReference.cache
MO.Commons/MO.Common/obj/Debug/net35/MO.Common.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Common/obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
MO.Commons/MO.Common/obj/Debug/net45/MO.Common.AssemblyInfo.cs
MO.Commons/MO.Common/obj/Debug/net45/MO.Common.AssemblyInfoInputs.cache
MO.Commons/MO.Common/obj/Debug/net45/MO.Common.assets.cache
MO.Commons/MO.Common/obj/Debug/net45/MO.Common.csproj.AssemblyReference.cache
MO.Commons/MO.Common/obj/Debug/net45/MO.Common.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Commons/MO.Common/obj/Debug/netcoreapp3.1/MO.Common.AssemblyInfo.cs
MO.Commons/MO.Common/obj/Debug/netcoreapp3.1/MO.Common.AssemblyInfoInputs.cache
MO.Commons/MO.Common/obj/Debug/netcoreapp3.1/MO.Common.assets.cache
MO.Commons/MO.Common/obj/Debug/netcoreapp3.1/MO.Common.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Model/obj/MO.Model.csproj.nuget.dgspec.json
MO.Commons/MO.Model/obj/MO.Model.csproj.nuget.g.props
MO.Commons/MO.Model/obj/MO.Model.csproj.nuget.g.targets
MO.Commons/MO.Model/obj/project.assets.json
MO.Commons/MO.Model/obj/project.nuget.cache
MO.Commons/MO.Model/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Commons/MO.Model/obj/Debug/netcoreapp3.1/MO.Model.AssemblyInfo.cs
MO.Commons/MO.Model/obj/Debug/netcoreapp3.1/MO.Model.AssemblyInfoInputs.cache
MO.Commons/MO.Model/obj/Debug/netcoreapp3.1/MO.Model.assets.cache
MO.Commons/MO.Model/obj/Debug/netcoreapp3.1/MO.Model.csproj.AssemblyReference.cache
MO.Commons/MO.Model/obj/Debug/netcoreapp3.1/MO.Model.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Protocol/obj/MO.Protocol.csproj.nuget.dgspec.json
MO.Commons/MO.Protocol/obj/MO.Protocol.csproj.nuget.g.props
MO.Commons/MO.Protocol/obj/MO.Protocol.csproj.nuget.g.targets
MO.Commons/MO.Protocol/obj/project.assets.json
MO.Commons/MO.Protocol/obj/project.nuget.cache
MO.Commons/MO.Protocol/obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
MO.Commons/MO.Protocol/obj/Debug/net45/MO.Protocol.AssemblyInfo.cs
MO.Commons/MO.Protocol/obj/Debug/net45/MO.Protocol.AssemblyInfoInputs.cache
MO.Commons/MO.Protocol/obj/Debug/net45/MO.Protocol.assets.cache
MO.Commons/MO.Protocol/obj/Debug/net45/MO.Protocol.csproj.AssemblyReference.cache
MO.Commons/MO.Protocol/obj/Debug/net45/MO.Protocol.GeneratedMSBuildEditorConfig.editorconfig
MO.Commons/MO.Protocol/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Commons/MO.Protocol/obj/Debug/netcoreapp3.1/MO.Protocol.AssemblyInfo.cs
MO.Commons/MO.Protocol/obj/Debug/netcoreapp3.1/MO.Protocol.AssemblyInfoInputs.cache
MO.Commons/MO.Protocol/obj/Debug/netcoreapp3.1/MO.Protocol.assets.cache
MO.Commons/MO.Protocol/obj/Debug/netcoreapp3.1/MO.Protocol.csproj.AssemblyReference.cache
MO.Commons/MO.Protocol/obj/Debug/netcoreapp3.1/MO.Protocol.GeneratedMSBuildEditorConfig.editorconfig
MO.Servers/MO.Api/obj/MO.Api.csproj.nuget.dgspec.json
MO.Servers/MO.Api/obj/MO.Api.csproj.nuget.g.props
MO.Servers/MO.Api/obj/MO.Api.csproj.nuget.g.targets
MO.Servers/MO.Api/obj/project.assets.json
MO.Servers/MO.Api/obj/project.nuget.cache
MO.Servers/MO.Api/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Servers/MO.Api/obj/Debug/netcoreapp3.1/MO.Api.AssemblyInfo.cs
MO.Servers/MO.Api/obj/Debug/netcoreapp3.1/MO.Api.AssemblyInfoInputs.cache
MO.Servers/MO.Api/obj/Debug/netcoreapp3.1/MO.Api.assets.cache
MO.Servers/MO.Api/obj/Debug/netcoreapp3.1/MO.Api.csproj.AssemblyReference.cache
MO.Servers/MO.Api/obj/Debug/netcoreapp3.1/MO.Api.GeneratedMSBuildEditorConfig.editorconfig
MO.Servers/MO.Gateway/obj/MO.Gateway.csproj.nuget.dgspec.json
MO.Servers/MO.Gateway/obj/MO.Gateway.csproj.nuget.g.props
MO.Servers/MO.Gateway/obj/MO.Gateway.csproj.nuget.g.targets
MO.Servers/MO.Gateway/obj/project.assets.json
MO.Servers/MO.Gateway/obj/project.nuget.cache
MO.Servers/MO.Gateway/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Servers/MO.Gateway/obj/Debug/netcoreapp3.1/MO.Gateway.AssemblyInfo.cs
MO.Servers/MO.Gateway/obj/Debug/netcoreapp3.1/MO.Gateway.AssemblyInfoInputs.cache
MO.Servers/MO.Gateway/obj/Debug/netcoreapp3.1/MO.Gateway.assets.cache
MO.Servers/MO.Gateway/obj/Debug/netcoreapp3.1/MO.Gateway.csproj.AssemblyReference.cache
MO.Servers/MO.Gateway/obj/Debug/netcoreapp3.1/MO.Gateway.GeneratedMSBuildEditorConfig.editorconfig
MO.Servers/MO.GrainInterfaces/obj/MO.GrainInterfaces.csproj.nuget.dgspec.json
MO.Servers/MO.GrainInterfaces/obj/MO.GrainInterfaces.csproj.nuget.g.props
MO.Servers/MO.GrainInterfaces/obj/MO.GrainInterfaces.csproj.nuget.g.targets
MO.Servers/MO.GrainInterfaces/obj/project.assets.json
MO.Servers/MO.GrainInterfaces/obj/project.nuget.cache
MO.Servers/MO.GrainInterfaces/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Servers/MO.GrainInterfaces/obj/Debug/netcoreapp3.1/MO.GrainInterfaces.AssemblyInfo.cs
MO.Servers/MO.GrainInterfaces/obj/Debug/netcoreapp3.1/MO.GrainInterfaces.AssemblyInfoInputs.cache
MO.Servers/MO.GrainInterfaces/obj/Debug/netcoreapp3.1/MO.GrainInterfaces.assets.cache
MO.Servers/MO.GrainInterfaces/obj/Debug/netcoreapp3.1/MO.GrainInterfaces.csproj.AssemblyReference.cache
MO.Servers/MO.GrainInterfaces/obj/Debug/netcoreapp3.1/MO.GrainInterfaces.GeneratedMSBuildEditorConfig.editorconfig
MO.Servers/MO.Grains/obj/MO.Grains.csproj.nuget.dgspec.json
MO.Servers/MO.Grains/obj/MO.Grains.csproj.nuget.g.props
MO.Servers/MO.Grains/obj/MO.Grains.csproj.nuget.g.targets
MO.Servers/MO.Grains/obj/project.assets.json
MO.Servers/MO.Grains/obj/project.nuget.cache
MO.Servers/MO.Grains/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Servers/MO.Grains/obj/Debug/netcoreapp3.1/MO.Grains.AssemblyInfo.cs
MO.Servers/MO.Grains/obj/Debug/netcoreapp3.1/MO.Grains.AssemblyInfoInputs.cache
MO.Servers/MO.Grains/obj/Debug/netcoreapp3.1/MO.Grains.assets.cache
MO.Servers/MO.Grains/obj/Debug/netcoreapp3.1/MO.Grains.csproj.AssemblyReference.cache
MO.Servers/MO.Grains/obj/Debug/netcoreapp3.1/MO.Grains.GeneratedMSBuildEditorConfig.editorconfig
MO.Servers/MO.Login/obj/MO.Login.csproj.nuget.dgspec.json
MO.Servers/MO.Login/obj/MO.Login.csproj.nuget.g.props
MO.Servers/MO.Login/obj/MO.Login.csproj.nuget.g.targets
MO.Servers/MO.Login/obj/project.assets.json
MO.Servers/MO.Login/obj/project.nuget.cache
MO.Servers/MO.Login/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Servers/MO.Login/obj/Debug/netcoreapp3.1/MO.Login.AssemblyInfo.cs
MO.Servers/MO.Login/obj/Debug/netcoreapp3.1/MO.Login.AssemblyInfoInputs.cache
MO.Servers/MO.Login/obj/Debug/netcoreapp3.1/MO.Login.assets.cache
MO.Servers/MO.Login/obj/Debug/netcoreapp3.1/MO.Login.csproj.AssemblyReference.cache
MO.Servers/MO.Login/obj/Debug/netcoreapp3.1/MO.Login.GeneratedMSBuildEditorConfig.editorconfig
MO.Servers/MO.Silo/obj/MO.Silo.csproj.nuget.dgspec.json
MO.Servers/MO.Silo/obj/MO.Silo.csproj.nuget.g.props
MO.Servers/MO.Silo/obj/MO.Silo.csproj.nuget.g.targets
MO.Servers/MO.Silo/obj/project.assets.json
MO.Servers/MO.Silo/obj/project.nuget.cache
MO.Servers/MO.Silo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MO.Servers/MO.Silo/obj/Debug/netcoreapp3.1/MO.Silo.AssemblyInfo.cs
MO.Servers/MO.Silo/obj/Debug/netcoreapp3.1/MO.Silo.AssemblyInfoInputs.cache
MO.Servers/MO.Silo/obj/Debug/netcoreapp3.1/MO.Silo.assets.cache
MO.Servers/MO.Silo/obj/Debug/netcoreapp3.1/MO.Silo.csproj.AssemblyReference.cache
MO.Servers/MO.Silo/obj/Debug/netcoreapp3.1/MO.Silo.GeneratedMSBuildEditorConfig.editorconfig
