<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="Info" fileName="Logs/Info/${shortdate}.log"
			   layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="Error" fileName="Logs/Error/${shortdate}.log"
			   layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="Warn" fileName="Logs/Warn/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="Debug" fileName="Logs/Debug/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="Trace" fileName="Logs/Trace/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile-web" fileName="Logs/nlog-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"  />

		<target xsi:type="Null" name="blackhole" />

		<target xsi:type="Console" name="Console" />
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="Microsoft.*" level="Trace" writeTo="blackhole" final="true" />-->
		<!--minlevel 改为Trace 跟踪全部 Error 只捕获异常-->
		<logger name="*" level="Error" writeTo="Error,Console" />
		<logger name="*" level="Info" writeTo="Info,Console" />
		<logger name="*" level="Warn" writeTo="Warn" />
		<logger name="*" level="Debug" writeTo="Debug" />
		<logger name="*" level="Trace" writeTo="Trace" />
	</rules>
</nlog>
